<h3>This is a chat room</h3>

<div class="row chatBox">
  <div class="col s12 m6">
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." />
      <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">Send<i class="material-icons right">send</i></button>
    </form>
  </div>
</div>

<script>
    // submit text message without reload/refresh the page
    $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        $('#txt').val('');
        return false;
    });
    //   // append the chat text message
    //   socket.on('chat_message', function(msg){
    //     $('#messages').append($('<li>').html(msg));
    //   });
    //   // append text if someone is online
    //   socket.on('is_online', function(username) {
    //       $('#messages').append($('<li>').html(username));
    //   });
    //   // ask username
    //   var username = prompt('Please tell me your name');
    //   socket.emit('username', username);
    //   });
    // });
</script>