<div>
  <h3>This is the Party page!</h3>
  <form method="POST" action="/party">
    <h5>Name of event:</h5>
    <input type="text" name="partyname">
    <h5>Secret passcode:</h5>
    <input type="number" name="token">
    <input type="submit" value="Create a party">
  </form>

<div>
  <h3>Join a Party!</h3>
  <form>
    <h5>Enter Passcode:</h5>
    <input type="number" name="token">
    <input type="submit" value="Enter my party">
  </form>
</div>