<div>
  <h4>Spotify Song Search</h4>
  <div class="rain">
    <div class="border start">
      <form method="POST" action="/search/guestinput" class="rainbow">
        <label for="artist">Artist</label>
        <input type="text" id="artist" name="artist">
        <label for="title">Title</label>
        <input type="text" id="title" name="track">
        <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">Search<i class="material-icons right">send</i></button>
      </form>
    </div> 
  </div>
</div>
