<div class="play-wrapper">
<iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="1000" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>