<div class="rain">
  <div class="border start">
    <div class="jukebox">
      <h1 class="join"><%= playlist.partyName %> - <%= playlist.token %></h1>
      <%songs.forEach(function(song)){%>
        <%=song.title%>
      <%});%>
    </div>
  </div> 
</div>

<div class="rain">
  <div class="border start"></div>
    <form method="POST" action="/search" class="col s12">
    <input name="name" type="hidden" value="<%= playlist.partyName %>">
			<button class="btn waves-effect waves-light grey darken-4" type="submit">Track Search
					<i class="material-icons right">send</i>
				</button>
    </form>
  </div>  
</div>